mapasComparados/loc/shp/2clean/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/bc/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/bcs/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/mor/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/0code/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/coa/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/cps/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/cam/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/col/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/df/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/nay/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/0drop/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/mex/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/tla/ filter=lfs diff=lfs merge=lfs -text
mapasComparados/loc/shp/ags/ filter=lfs diff=lfs merge=lfs -text
