mor5-1.png filter=lfs diff=lfs merge=lfs -text
mor6-2.png filter=lfs diff=lfs merge=lfs -text
nay12-1.png filter=lfs diff=lfs merge=lfs -text
coa3-2.png filter=lfs diff=lfs merge=lfs -text
col5-2.png filter=lfs diff=lfs merge=lfs -text
mex11-1.png filter=lfs diff=lfs merge=lfs -text
mex25-1.png filter=lfs diff=lfs merge=lfs -text
mex27-1.png filter=lfs diff=lfs merge=lfs -text
nay2-2.png filter=lfs diff=lfs merge=lfs -text
bc12-1.png filter=lfs diff=lfs merge=lfs -text
df28-2.png filter=lfs diff=lfs merge=lfs -text
mex12-2.png filter=lfs diff=lfs merge=lfs -text
mex38-1.png filter=lfs diff=lfs merge=lfs -text
nay18-1.png filter=lfs diff=lfs merge=lfs -text
nay11-1.png filter=lfs diff=lfs merge=lfs -text
nay14-1.png filter=lfs diff=lfs merge=lfs -text
bc16-2.png filter=lfs diff=lfs merge=lfs -text
coa7-1.png filter=lfs diff=lfs merge=lfs -text
df26-2.png filter=lfs diff=lfs merge=lfs -text
mex9-1.png filter=lfs diff=lfs merge=lfs -text
mor5-2.png filter=lfs diff=lfs merge=lfs -text
nay18-2.png filter=lfs diff=lfs merge=lfs -text
bc6-1.png filter=lfs diff=lfs merge=lfs -text
df1-1.png filter=lfs diff=lfs merge=lfs -text
df18-1.png filter=lfs diff=lfs merge=lfs -text
df2-1.png filter=lfs diff=lfs merge=lfs -text
mor7-1.png filter=lfs diff=lfs merge=lfs -text
nay17-2.png filter=lfs diff=lfs merge=lfs -text
tla12-1.png filter=lfs diff=lfs merge=lfs -text
mex21-2.png filter=lfs diff=lfs merge=lfs -text
mex33-2.png filter=lfs diff=lfs merge=lfs -text
mex41-1.png filter=lfs diff=lfs merge=lfs -text
mex42-1.png filter=lfs diff=lfs merge=lfs -text
mor8-2.png filter=lfs diff=lfs merge=lfs -text
coa14-1.png filter=lfs diff=lfs merge=lfs -text
df24-1.png filter=lfs diff=lfs merge=lfs -text
df3-2.png filter=lfs diff=lfs merge=lfs -text
nay6-1.png filter=lfs diff=lfs merge=lfs -text
tla8-1.png filter=lfs diff=lfs merge=lfs -text
bc15-2.png filter=lfs diff=lfs merge=lfs -text
bc7-2.png filter=lfs diff=lfs merge=lfs -text
col15-2.png filter=lfs diff=lfs merge=lfs -text
df1-2.png filter=lfs diff=lfs merge=lfs -text
mor8-1.png filter=lfs diff=lfs merge=lfs -text
mex29-1.png filter=lfs diff=lfs merge=lfs -text
mex3-1.png filter=lfs diff=lfs merge=lfs -text
mex8-2.png filter=lfs diff=lfs merge=lfs -text
bc11-2.png filter=lfs diff=lfs merge=lfs -text
bc14-1.png filter=lfs diff=lfs merge=lfs -text
bc8-2.png filter=lfs diff=lfs merge=lfs -text
df21-2.png filter=lfs diff=lfs merge=lfs -text
mex22-1.png filter=lfs diff=lfs merge=lfs -text
nay9-2.png filter=lfs diff=lfs merge=lfs -text
mor12-2.png filter=lfs diff=lfs merge=lfs -text
mor7-2.png filter=lfs diff=lfs merge=lfs -text
mor9-1.png filter=lfs diff=lfs merge=lfs -text
coa10-2.png filter=lfs diff=lfs merge=lfs -text
col13-2.png filter=lfs diff=lfs merge=lfs -text
col16-1.png filter=lfs diff=lfs merge=lfs -text
df11-1.png filter=lfs diff=lfs merge=lfs -text
df5-1.png filter=lfs diff=lfs merge=lfs -text
tla14-2.png filter=lfs diff=lfs merge=lfs -text
df25-2.png filter=lfs diff=lfs merge=lfs -text
mex45-1.png filter=lfs diff=lfs merge=lfs -text
mex21-1.png filter=lfs diff=lfs merge=lfs -text
mex7-2.png filter=lfs diff=lfs merge=lfs -text
nay10-2.png filter=lfs diff=lfs merge=lfs -text
bc15-1.png filter=lfs diff=lfs merge=lfs -text
coa6-1.png filter=lfs diff=lfs merge=lfs -text
df13-2.png filter=lfs diff=lfs merge=lfs -text
df7-2.png filter=lfs diff=lfs merge=lfs -text
mex14-2.png filter=lfs diff=lfs merge=lfs -text
tla4-1.png filter=lfs diff=lfs merge=lfs -text
mex43-2.png filter=lfs diff=lfs merge=lfs -text
mex45-2.png filter=lfs diff=lfs merge=lfs -text
bc8-1.png filter=lfs diff=lfs merge=lfs -text
col11-2.png filter=lfs diff=lfs merge=lfs -text
df20-2.png filter=lfs diff=lfs merge=lfs -text
mex34-2.png filter=lfs diff=lfs merge=lfs -text
mex37-2.png filter=lfs diff=lfs merge=lfs -text
col3-1.png filter=lfs diff=lfs merge=lfs -text
col8-2.png filter=lfs diff=lfs merge=lfs -text
df20-1.png filter=lfs diff=lfs merge=lfs -text
mex12-1.png filter=lfs diff=lfs merge=lfs -text
nay13-1.png filter=lfs diff=lfs merge=lfs -text
mex28-1.png filter=lfs diff=lfs merge=lfs -text
mex7-1.png filter=lfs diff=lfs merge=lfs -text
mor9-2.png filter=lfs diff=lfs merge=lfs -text
bc1-1.png filter=lfs diff=lfs merge=lfs -text
bc3-1.png filter=lfs diff=lfs merge=lfs -text
coa11-1.png filter=lfs diff=lfs merge=lfs -text
coa16-2.png filter=lfs diff=lfs merge=lfs -text
df21-1.png filter=lfs diff=lfs merge=lfs -text
tla1-2.png filter=lfs diff=lfs merge=lfs -text
tla4-2.png filter=lfs diff=lfs merge=lfs -text
df8-1.png filter=lfs diff=lfs merge=lfs -text
mor2-1.png filter=lfs diff=lfs merge=lfs -text
df16-1.png filter=lfs diff=lfs merge=lfs -text
mex1-2.png filter=lfs diff=lfs merge=lfs -text
mex13-1.png filter=lfs diff=lfs merge=lfs -text
bc12-2.png filter=lfs diff=lfs merge=lfs -text
coa14-2.png filter=lfs diff=lfs merge=lfs -text
col10-2.png filter=lfs diff=lfs merge=lfs -text
df11-2.png filter=lfs diff=lfs merge=lfs -text
df14-2.png filter=lfs diff=lfs merge=lfs -text
mex25-2.png filter=lfs diff=lfs merge=lfs -text
mex26-1.png filter=lfs diff=lfs merge=lfs -text
tla8-2.png filter=lfs diff=lfs merge=lfs -text
nay1-2.png filter=lfs diff=lfs merge=lfs -text
bc5-2.png filter=lfs diff=lfs merge=lfs -text
df13-1.png filter=lfs diff=lfs merge=lfs -text
df7-1.png filter=lfs diff=lfs merge=lfs -text
mex22-2.png filter=lfs diff=lfs merge=lfs -text
mex28-2.png filter=lfs diff=lfs merge=lfs -text
coa11-2.png filter=lfs diff=lfs merge=lfs -text
coa9-1.png filter=lfs diff=lfs merge=lfs -text
col1-2[[:space:]](copy).png filter=lfs diff=lfs merge=lfs -text
nay10-1.png filter=lfs diff=lfs merge=lfs -text
df14-1.png filter=lfs diff=lfs merge=lfs -text
df27-1.png filter=lfs diff=lfs merge=lfs -text
df32-1.png filter=lfs diff=lfs merge=lfs -text
mex36-2.png filter=lfs diff=lfs merge=lfs -text
tla11-2.png filter=lfs diff=lfs merge=lfs -text
nay11-2.png filter=lfs diff=lfs merge=lfs -text
bc10-2.png filter=lfs diff=lfs merge=lfs -text
bc17-1.png filter=lfs diff=lfs merge=lfs -text
bc9-2.png filter=lfs diff=lfs merge=lfs -text
df31-1.png filter=lfs diff=lfs merge=lfs -text
df6-1.png filter=lfs diff=lfs merge=lfs -text
coa3-1.png filter=lfs diff=lfs merge=lfs -text
df12-2.png filter=lfs diff=lfs merge=lfs -text
df30-1.png filter=lfs diff=lfs merge=lfs -text
nay16-2.png filter=lfs diff=lfs merge=lfs -text
df29-1.png filter=lfs diff=lfs merge=lfs -text
df32-2.png filter=lfs diff=lfs merge=lfs -text
nay15-1.png filter=lfs diff=lfs merge=lfs -text
bc15-2[[:space:]](copy).png filter=lfs diff=lfs merge=lfs -text
col12-1.png filter=lfs diff=lfs merge=lfs -text
df10-1.png filter=lfs diff=lfs merge=lfs -text
tla6-2.png filter=lfs diff=lfs merge=lfs -text
tla9-2.png filter=lfs diff=lfs merge=lfs -text
bc16-1.png filter=lfs diff=lfs merge=lfs -text
col1-2.png filter=lfs diff=lfs merge=lfs -text
df4-2.png filter=lfs diff=lfs merge=lfs -text
nay5-2.png filter=lfs diff=lfs merge=lfs -text
nay6-2.png filter=lfs diff=lfs merge=lfs -text
tla15-1.png filter=lfs diff=lfs merge=lfs -text
bc6-2.png filter=lfs diff=lfs merge=lfs -text
coa2-1.png filter=lfs diff=lfs merge=lfs -text
col8-1.png filter=lfs diff=lfs merge=lfs -text
mex24-1.png filter=lfs diff=lfs merge=lfs -text
mex39-1.png filter=lfs diff=lfs merge=lfs -text
mex8-1.png filter=lfs diff=lfs merge=lfs -text
mor6-1.png filter=lfs diff=lfs merge=lfs -text
nay4-2.png filter=lfs diff=lfs merge=lfs -text
col13-1.png filter=lfs diff=lfs merge=lfs -text
df22-2.png filter=lfs diff=lfs merge=lfs -text
mex20-2.png filter=lfs diff=lfs merge=lfs -text
mex32-1.png filter=lfs diff=lfs merge=lfs -text
mex6-2.png filter=lfs diff=lfs merge=lfs -text
tla10-1.png filter=lfs diff=lfs merge=lfs -text
tla3-2.png filter=lfs diff=lfs merge=lfs -text
bc7-1.png filter=lfs diff=lfs merge=lfs -text
mor1-2.png filter=lfs diff=lfs merge=lfs -text
tla3-1.png filter=lfs diff=lfs merge=lfs -text
df10-2.png filter=lfs diff=lfs merge=lfs -text
mex15-1.png filter=lfs diff=lfs merge=lfs -text
df30-2.png filter=lfs diff=lfs merge=lfs -text
mex10-1.png filter=lfs diff=lfs merge=lfs -text
mex11-2.png filter=lfs diff=lfs merge=lfs -text
bc13-1.png filter=lfs diff=lfs merge=lfs -text
col4-2.png filter=lfs diff=lfs merge=lfs -text
mor10-1.png filter=lfs diff=lfs merge=lfs -text
nay8-1.png filter=lfs diff=lfs merge=lfs -text
bc4-2.png filter=lfs diff=lfs merge=lfs -text
col11-1.png filter=lfs diff=lfs merge=lfs -text
mor12-1.png filter=lfs diff=lfs merge=lfs -text
coa5-2.png filter=lfs diff=lfs merge=lfs -text
coa8-2.png filter=lfs diff=lfs merge=lfs -text
mex31-1.png filter=lfs diff=lfs merge=lfs -text
nay13-2.png filter=lfs diff=lfs merge=lfs -text
nay2-1.png filter=lfs diff=lfs merge=lfs -text
mex19-2.png filter=lfs diff=lfs merge=lfs -text
nay7-1.png filter=lfs diff=lfs merge=lfs -text
bc10-1.png filter=lfs diff=lfs merge=lfs -text
bc4-1.png filter=lfs diff=lfs merge=lfs -text
col1-1.png filter=lfs diff=lfs merge=lfs -text
col15-1.png filter=lfs diff=lfs merge=lfs -text
df31-2.png filter=lfs diff=lfs merge=lfs -text
df33-1.png filter=lfs diff=lfs merge=lfs -text
df6-2.png filter=lfs diff=lfs merge=lfs -text
df8-2.png filter=lfs diff=lfs merge=lfs -text
bc9-1.png filter=lfs diff=lfs merge=lfs -text
coa13-1.png filter=lfs diff=lfs merge=lfs -text
coa13-2.png filter=lfs diff=lfs merge=lfs -text
df2-2.png filter=lfs diff=lfs merge=lfs -text
df24-2.png filter=lfs diff=lfs merge=lfs -text
mex3-2.png filter=lfs diff=lfs merge=lfs -text
nay8-2.png filter=lfs diff=lfs merge=lfs -text
tla9-1.png filter=lfs diff=lfs merge=lfs -text
bc3-2.png filter=lfs diff=lfs merge=lfs -text
df16-2.png filter=lfs diff=lfs merge=lfs -text
mex2-1.png filter=lfs diff=lfs merge=lfs -text
mor4-1.png filter=lfs diff=lfs merge=lfs -text
bc17-2.png filter=lfs diff=lfs merge=lfs -text
coa6-2.png filter=lfs diff=lfs merge=lfs -text
df9-2.png filter=lfs diff=lfs merge=lfs -text
mex44-1.png filter=lfs diff=lfs merge=lfs -text
mor11-2.png filter=lfs diff=lfs merge=lfs -text
col14-1.png filter=lfs diff=lfs merge=lfs -text
tla14-1.png filter=lfs diff=lfs merge=lfs -text
tla7-2.png filter=lfs diff=lfs merge=lfs -text
coa16-1.png filter=lfs diff=lfs merge=lfs -text
coa5-1.png filter=lfs diff=lfs merge=lfs -text
mex2-2.png filter=lfs diff=lfs merge=lfs -text
mex42-2.png filter=lfs diff=lfs merge=lfs -text
nay16-1.png filter=lfs diff=lfs merge=lfs -text
col6-1.png filter=lfs diff=lfs merge=lfs -text
df17-1.png filter=lfs diff=lfs merge=lfs -text
mex26-2.png filter=lfs diff=lfs merge=lfs -text
mex38-2.png filter=lfs diff=lfs merge=lfs -text
tla5-2.png filter=lfs diff=lfs merge=lfs -text
mex5-1.png filter=lfs diff=lfs merge=lfs -text
nay14-2.png filter=lfs diff=lfs merge=lfs -text
nay15-2.png filter=lfs diff=lfs merge=lfs -text
coa12-2.png filter=lfs diff=lfs merge=lfs -text
col12-2.png filter=lfs diff=lfs merge=lfs -text
df19-1.png filter=lfs diff=lfs merge=lfs -text
df27-2.png filter=lfs diff=lfs merge=lfs -text
mex40-1.png filter=lfs diff=lfs merge=lfs -text
col16-2[[:space:]](copy).png filter=lfs diff=lfs merge=lfs -text
col2-2.png filter=lfs diff=lfs merge=lfs -text
mex18-2.png filter=lfs diff=lfs merge=lfs -text
mor4-2.png filter=lfs diff=lfs merge=lfs -text
col9-1.png filter=lfs diff=lfs merge=lfs -text
mex20-1.png filter=lfs diff=lfs merge=lfs -text
mex39-2.png filter=lfs diff=lfs merge=lfs -text
mex44-2.png filter=lfs diff=lfs merge=lfs -text
mor1-1.png filter=lfs diff=lfs merge=lfs -text
nay7-2.png filter=lfs diff=lfs merge=lfs -text
coa12-1.png filter=lfs diff=lfs merge=lfs -text
col16-2.png filter=lfs diff=lfs merge=lfs -text
df17-2.png filter=lfs diff=lfs merge=lfs -text
mex18-1.png filter=lfs diff=lfs merge=lfs -text
nay1-1.png filter=lfs diff=lfs merge=lfs -text
mex9-2.png filter=lfs diff=lfs merge=lfs -text
nay3-2.png filter=lfs diff=lfs merge=lfs -text
tla7-1.png filter=lfs diff=lfs merge=lfs -text
coa4-2.png filter=lfs diff=lfs merge=lfs -text
df19-2.png filter=lfs diff=lfs merge=lfs -text
df4-1.png filter=lfs diff=lfs merge=lfs -text
df5-2.png filter=lfs diff=lfs merge=lfs -text
mex23-2.png filter=lfs diff=lfs merge=lfs -text
df15-2.png filter=lfs diff=lfs merge=lfs -text
df22-1.png filter=lfs diff=lfs merge=lfs -text
mex37-1.png filter=lfs diff=lfs merge=lfs -text
mex6-1.png filter=lfs diff=lfs merge=lfs -text
nay17-1.png filter=lfs diff=lfs merge=lfs -text
tla5-1.png filter=lfs diff=lfs merge=lfs -text
col7-1.png filter=lfs diff=lfs merge=lfs -text
df12-1.png filter=lfs diff=lfs merge=lfs -text
mex17-2.png filter=lfs diff=lfs merge=lfs -text
mor13-1.png filter=lfs diff=lfs merge=lfs -text
tla11-1.png filter=lfs diff=lfs merge=lfs -text
tla15-2.png filter=lfs diff=lfs merge=lfs -text
coa8-1.png filter=lfs diff=lfs merge=lfs -text
col2-1.png filter=lfs diff=lfs merge=lfs -text
df26-1.png filter=lfs diff=lfs merge=lfs -text
mex15-2.png filter=lfs diff=lfs merge=lfs -text
nay12-2.png filter=lfs diff=lfs merge=lfs -text
bc2-2.png filter=lfs diff=lfs merge=lfs -text
nay3-1.png filter=lfs diff=lfs merge=lfs -text
bc5-1.png filter=lfs diff=lfs merge=lfs -text
col16-1[[:space:]](copy).png filter=lfs diff=lfs merge=lfs -text
mex4-1.png filter=lfs diff=lfs merge=lfs -text
tla13-2.png filter=lfs diff=lfs merge=lfs -text
tla2-1.png filter=lfs diff=lfs merge=lfs -text
bc1-2.png filter=lfs diff=lfs merge=lfs -text
mex1-1.png filter=lfs diff=lfs merge=lfs -text
mex24-2.png filter=lfs diff=lfs merge=lfs -text
mex35-1.png filter=lfs diff=lfs merge=lfs -text
nay9-1.png filter=lfs diff=lfs merge=lfs -text
coa15-1.png filter=lfs diff=lfs merge=lfs -text
col10-1.png filter=lfs diff=lfs merge=lfs -text
col13-2[[:space:]](copy).png filter=lfs diff=lfs merge=lfs -text
df33-2.png filter=lfs diff=lfs merge=lfs -text
mex40-2.png filter=lfs diff=lfs merge=lfs -text
df28-1.png filter=lfs diff=lfs merge=lfs -text
df3-1.png filter=lfs diff=lfs merge=lfs -text
mex4-2.png filter=lfs diff=lfs merge=lfs -text
mex43-1.png filter=lfs diff=lfs merge=lfs -text
mex13-2.png filter=lfs diff=lfs merge=lfs -text
mex36-1.png filter=lfs diff=lfs merge=lfs -text
tla6-1.png filter=lfs diff=lfs merge=lfs -text
tla1-1.png filter=lfs diff=lfs merge=lfs -text
col3-2.png filter=lfs diff=lfs merge=lfs -text
col4-1.png filter=lfs diff=lfs merge=lfs -text
df23-1.png filter=lfs diff=lfs merge=lfs -text
mex31-2.png filter=lfs diff=lfs merge=lfs -text
tla10-2.png filter=lfs diff=lfs merge=lfs -text
df18-2.png filter=lfs diff=lfs merge=lfs -text
mex16-1.png filter=lfs diff=lfs merge=lfs -text
mex29-2.png filter=lfs diff=lfs merge=lfs -text
mex34-1.png filter=lfs diff=lfs merge=lfs -text
mex5-2.png filter=lfs diff=lfs merge=lfs -text
mor3-2.png filter=lfs diff=lfs merge=lfs -text
bc14-2.png filter=lfs diff=lfs merge=lfs -text
coa1-1.png filter=lfs diff=lfs merge=lfs -text
col5-1.png filter=lfs diff=lfs merge=lfs -text
mex19-1.png filter=lfs diff=lfs merge=lfs -text
mex35-2.png filter=lfs diff=lfs merge=lfs -text
coa7-2.png filter=lfs diff=lfs merge=lfs -text
df25-1.png filter=lfs diff=lfs merge=lfs -text
mor11-1.png filter=lfs diff=lfs merge=lfs -text
nay5-1.png filter=lfs diff=lfs merge=lfs -text
tla2-2.png filter=lfs diff=lfs merge=lfs -text
bc11-1.png filter=lfs diff=lfs merge=lfs -text
mex23-1.png filter=lfs diff=lfs merge=lfs -text
mex27-2.png filter=lfs diff=lfs merge=lfs -text
nay4-1.png filter=lfs diff=lfs merge=lfs -text
coa1-2.png filter=lfs diff=lfs merge=lfs -text
coa4-1.png filter=lfs diff=lfs merge=lfs -text
col14-2.png filter=lfs diff=lfs merge=lfs -text
mex17-1.png filter=lfs diff=lfs merge=lfs -text
mex30-1.png filter=lfs diff=lfs merge=lfs -text
df9-1.png filter=lfs diff=lfs merge=lfs -text
mor2-2.png filter=lfs diff=lfs merge=lfs -text
bc2-1.png filter=lfs diff=lfs merge=lfs -text
coa2-2.png filter=lfs diff=lfs merge=lfs -text
col6-2.png filter=lfs diff=lfs merge=lfs -text
df15-1.png filter=lfs diff=lfs merge=lfs -text
df23-2.png filter=lfs diff=lfs merge=lfs -text
coa9-2.png filter=lfs diff=lfs merge=lfs -text
mex33-1.png filter=lfs diff=lfs merge=lfs -text
mex41-2.png filter=lfs diff=lfs merge=lfs -text
tla12-2.png filter=lfs diff=lfs merge=lfs -text
mex14-1.png filter=lfs diff=lfs merge=lfs -text
mex16-2.png filter=lfs diff=lfs merge=lfs -text
mor10-2.png filter=lfs diff=lfs merge=lfs -text
col9-2.png filter=lfs diff=lfs merge=lfs -text
mex30-2.png filter=lfs diff=lfs merge=lfs -text
mor3-1.png filter=lfs diff=lfs merge=lfs -text
tla13-1.png filter=lfs diff=lfs merge=lfs -text
mex10-2.png filter=lfs diff=lfs merge=lfs -text
mex32-2.png filter=lfs diff=lfs merge=lfs -text
bc13-2.png filter=lfs diff=lfs merge=lfs -text
coa10-1.png filter=lfs diff=lfs merge=lfs -text
coa15-2.png filter=lfs diff=lfs merge=lfs -text
col7-2.png filter=lfs diff=lfs merge=lfs -text
df29-2.png filter=lfs diff=lfs merge=lfs -text
